<app-bread-crumb page-title="produtos" [items]="[{text: 'Produtos'}]">
</app-bread-crumb>

<app-panel-container button-link="new" panel-title="Lista de Produtos" button-text="Novo" button-icon="fa-plus">


<table class="table table-striped table-bordered table-hover table-responsive">
    <thead class ="thead-default">
        <tr>
          <th>Descrição</th>
          <th>Unidade</th>
          <th>Conta Contabil</th>
          <th>Almoxarifado</th>
          <th class="text-right">Ultimo preço de compra R$</th>
          <th class="text-center">Ações</th>
        </tr>
      </thead>

    <tr *ngFor="let produto of resources">
        <td>
          <strong>{{produto.descricao}}</strong>
        </td>
        <td>
          {{produto.unidade}}
        </td>
        <td>
            {{produto.contaContabil}}
        </td>

        <td>
            {{produto.almoxarifado}}
        </td>

        <td class="text-right">
            {{produto.ultimoPrecoCompra}}
        </td>

        <td class="text-center">
          <button title="Editar" [routerLink]="[produto.id, 'edit']" class="m-r-5 btn-acoes">
              <i class="fa fa-pencil font-14"></i>
          </button>
          <button  title="Excluir" (click)="deleteResource(produto)" class="m-r-5 btn-acoes">
              <i class="fa fa-trash font-14"></i>
          </button>
        </td>
      </tr>
  </table>





</app-panel-container>
