<app-bread-crumb page-title="produtos" [items]="[{text: 'Produtos', link: '/produtos'} , {text: pageTitle}]">
</app-bread-crumb>

<app-panel-container button-link="/produtos" [panel-title]="pageTitle" button-text="Voltar" button-icon="fa-arrow-left">

  <form [formGroup]="resourceForm" (submit)="submitForm()">

    <div class="row">

      <!-- descricao -->
      <div class="col-md-6 form-group">
        <label for="descricao">Descrição</label>
        <input type="text" placeholder="Descrição" class="form-control" id="descricao" formControlName="descricao">
        <app-form-field-error [form-control]="resourceForm.get('descricao')"></app-form-field-error>
      </div>

      <!-- unidade -->
      <div class="col-md-6 form-group">
        <label for="unidade">Unidade</label>
        <input type="number" placeholder="Unidade" class="form-control" id="unidade" formControlName="unidade">
        <app-form-field-error [form-control]="resourceForm.get('unidade')"></app-form-field-error>
      </div>

    </div>

    <div class="row">

      <div class="col-md-6 form-group">
        <label for="contaContabil">Conta Contábil</label>
        <input type="text" placeholder="Conta Contábil" class="form-control" id="contaContabil"
          formControlName="contaContabil">
        <app-form-field-error [form-control]="resourceForm.get('contaContabil')"></app-form-field-error>
      </div>

      <!-- ultimo valor de compra -->
      <div class="form-group col-md-6">
        <label for="ultimoPrecoCompra">Último preço de compra</label>
        <div class="input-group">
          <div class="input-group-addon bg-white">
            <div class="input-group-text">R$</div>
          </div>
          <input placeholder="0,00" [imask]="imaskConfig" type="text" class="form-control text-right"
            id="ultimoPrecoCompra" formControlName="ultimoPrecoCompra">
        </div>
        <app-form-field-error [form-control]="resourceForm.get('ultimoPrecoCompra')"></app-form-field-error>
      </div>
    </div>

    <app-server-error-messages [server-error-messages]="serverErrorMessages"></app-server-error-messages>

    <p-button [disabled]="submittingForm || resourceForm.invalid" class="float-right" icon="pi pi-check" label="Salvar"></p-button>

    <button [disabled]="submittingForm || resourceForm.invalid" type="submit"
    class="btn btn-primary mt-3"><i class="fa fa-save"></i>Salvar Produto</button>




  </form>

</app-panel-container>
